
body {
    font-family: 'Georgia', serif;
    line-height: 1.8;
    color: #000;
    background-color: #c9cfc3;
    padding: 20px;
}

.home{
    background-image: url(Images/forest.jpg);
    padding: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-size:cover;
}
.home h1{
    color:#fff;
}
.home h3{
    color:#fff;
}
header {
    text-align: center;
    font-family:lora; 
    margin-bottom: 40px;

}
nav a{
    color:#fff;
    background-color: #204821;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size:large;
}
nav{
    background-color: #204821;
    padding-top: 4rem;
    display:flex;
    align-items: center;
}
header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #fff; 
    font-family:lora; 
}

header p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff
    background-color:transparent;
}

.about p{
    color:#333;
    background-color:#c9cfc3;
}
.about h2{
    color:#333;
    background-color:#c9cfc3;
    font-family:lora; 
}

.about div{
   display:inline-block; 
   width:60%;
}
.safety{
    display:grid; 
    grid-template-columns: 1fr 1fr 1fr;
}
.safety div:first-child{
    grid-area: 1/1/2/4;
}
.safety h2{
    color: #000;
}
.safety p{
    color:#000;
}
.safety .s1 h3 {
    color:#e2e2e2;
    margin: 20px 20px 0px 20px;
    padding: 15px;
    background-color: #2d4d28;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family:lora; 
}
.safety .s1 p {
    color:#e2e2e2;
    margin: 0px 20px 20px 20px;
    padding: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #333;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.safety .s2 h3 {
    color:#e2e2e2;
    margin: 20px 20px 0px 20px;
    padding: 15px;
    background-color: #2d4d28;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family:lora; 
}
.safety .s2 p {
    color:#e2e2e2;
    margin: 0px 20px 20px 20px;
    padding: 15px;
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.safety .s3 h3 {
    color:#e2e2e2;
    margin: 20px 20px 0px 20px;
    padding: 15px;
    background-color: #2d4d28;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    font-family:lora; 
}
.safety .s3 p {
    color:#e2e2e2;
    margin: 0px 20px 20px 20px;
    padding: 15px;
    background-color: #333;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.adventure h2{ 
    color:#333;
    background-color: #c9cfc3;
    font-family:lora; 
}
.adventure p{
    color:#333;
    background-color: #c9cfc3;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.adventure{
    display:grid;
      grid-template-columns: 1fr 2fr;
}
.adventure div{
    grid-area: 1/1/2/4;
}

footer {
    text-align: center;
    margin-top: 40px;
    color: #777;
    font-size: 0.9rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 1000px) {
    nav{
        background-color:#204821;
        color:#fff; 
        justify-content: space-between;
    }
    body {
        padding: 10px;
    }
.about img {
    justify-content: flex-start;
}
.about p{
    justify-content: flex-end;
}
}
