body {
  font-family: 'Georgia', serif; 
  margin: 0;
  padding: 0;
  color: #333;
  background-color:rgb(255, 251, 214)
}
.our-story {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color:rgb(80, 102, 60);
  color:rgb(255,251,214);
}
.our-story h2 {color:rgb(255, 251, 214);
text-align: center;}
h2{text-align: center;}
h3 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #463239;
  color: rgb(255, 251, 214);
}
h1{display: none;}
h4{
  max-width: 1200px;
  font-size: small;
  margin: 0 auto;
  padding: 20px;
  background-color: #463239;
  color: rgb(255, 251, 214);
}
p{
  max-width: 1200px;
  margin: 0 auto;
  font-size: .85rem;
  padding: 20px;
  background-color: #463239;
  color: rgb(255, 251, 214);
}
h5{
  max-width: 1200px;
  margin: 0 auto;
  font-size: small;
  padding: 20px;
  background-color: #463239;
  color: rgb(255, 251, 214);
}
div{
  background-color: rgb(255, 251, 214);
}
header {
  text-align: center;
  padding: 40px 0;
  background-color: rgb(80, 102, 60);
}

header img {
  max-width: 500px; 
  background-color: rgb(80, 102, 60);
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 20px;
  margin-top: 2%;
  background-color: rgb(255, 251, 214)
}
nav a {
  text-decoration: none;
  color: rgb(255, 251, 214);
  font-size: 2rem;
  background-color: #463239;
  padding:.5rem;
  border-radius: 5rem;
}
.goose img{
  width:50%;
  margin-bottom: 20px;

}
.goose {display:flex;justify-content:center;}
nav a:hover {
  color: #007BFF; 
}

.our-story img {
  width:48%;
  justify-content:space-between;
  position: relative;
  left: 1rem;
  margin: 50px 0;
  background-color: rgb(255, 251, 214);
}
.purple {
  font-size: 2rem;
  margin:0 auto 20px;
  background-color: #463239;
  width:70%;
  justify-content: center;
  align-items: center;
}
h3{
  background-color: rgb(255,251,214);
  color:#463239;
  position: relative;
  left:5rem;
}
 .our-story p {background-color:rgb(80,102,60);
}
.contact img {width:48%;
}
.contact article{
  background-color: rgb(80, 102, 60);
  color:rgb(255, 251, 214)
}
.contact h2 {color:rgb(255, 251, 214);}
.contact {display:flex;
gap:1rem;
}


@media (min-width: 1000px) {
  nav {
    flex-direction: row;
    gap: 10px;
    justify-content: center;
  }

  .menu-section {
    flex-direction: column;
  }

  .menu-item {
    width: 100%;
  }

  .container {
    padding: 10px;
  }
}
nav img {justify-content: center;}


